<!DOCTYPE html>
<html lang="{{ site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ printf "%s | %s" .Title site.Title }}{{ end }}</title>
{{ partial "head.html" . }}
{{- block "extraCSS" . }}{{- end }}
</head>
<body>
{{ partial "menu.html" (dict "menuID" "main" "page" .) }}
<main>
{{ block "main" . }}{{ end }}
</main>
{{ partial "scripts.html" . }}
{{- block "extraJS" . }}{{- end }}
</body>
</html>